{{> header}}

<h1>Congratulations! Your Landlord Account Has Been Approved</h1>

<p>Hello {{name}},</p>

<p>We're pleased to inform you that your landlord account has been approved and is now active!</p>

<p>You can now access all landlord features, including:</p>
<ul>
    <li>List and manage your properties</li>
    <li>Review tenant applications</li>
    <li>Track rent payments</li>
    <li>Communicate with tenants</li>
</ul>

<p>
    <a href='{{dashboardLink}}'>Go to Your Dashboard</a>
</p>

<p>If you have any questions or need assistance getting started, please don't hesitate to contact our support team.</p>

<p>Welcome aboard!</p>

{{> footer}}